body{
    padding: 10px;
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;    
      
}
header{
    display: flex;
    padding: 5px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.589);
}
.logo{
    width: 50px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header a, .extra-nav a{
    text-decoration: none;
    color: black;
    padding-left: 15px;
    
}
main{
    display: flex;
    flex-direction: column;
}
.extra-nav{
    padding: 15px;
    width: 100%;
    margin-bottom: 10px;
}
.subsection-one{
    width: 80%;
    margin: 0 auto;
}
.subsection-one-info{
    width: 50%;
    margin: 0 auto;
}
.main-text{
    font-size: 20px;
}

#highlighted-links{
    color: blue;
    text-decoration: none;
}